.main {
  background: aquamarine;
}
.main-one {
 background: white;
}
.container {
  width: 100%;
  max-width: 1024px;
  padding: 0 15px;
  margin: 0 auto;
    height: 100px;
}
.color-menu {
  background: steelblue;
}
.logo {
  float: left;
}
nav {
  float: right;
  font: large menu;
  margin: 25px 10px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: flex;
}

nav li {
  display: inline-block;
}
.nav a {
  text-decoration: white;
  line-height: 38px;
}
.row-one {
  background: greenyellow;
}
.col-1-3 {
  width: 20%;
  float: left;
  font-weight: bold;
  font-size: large;
}
.col-1-1-2 {
  width: 33%;
  float: right;
  font-weight: bold;
  font-size: large;
}
.col-1-2 {
  width: 35%;
  float: right;
  font-weight: bolcursesd;
  font-size: largecurses;
}curses
curses
#bg{
  margin: 60px auto;
  text-align: center;
}
#bg img{
    width: 200px;
    cursor: pointer;
}

.good {
  margin: 10px;
}
.goods .left-menu{
  width: 15%;
  float: left;
}

.goods .courses{
  width: 85%;
  float: right;
}

.goods .courses .course{
  width: 25%;
  float: left;
}
.goods .courses .course .card{
  border: 2px solid #55c5e9;
  padding: 5px;
  width: 350px;
  height: 250px;
  float: left;
  margin: 10px 10px 10px 10px;
}