.card {
	border: 1px solid #ededed;
	border-radius: 0;

	&-img {
		&-wrapper {
			position: relative;
			display: flex;
			margin: 0 auto;
			height: 230px;
			width: 100%;
		}

		&-top {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 230px;
			margin: auto;
			max-width: 200px;
			max-height: 200px;
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
		}
	}

	&-sale {
		position: absolute;
		top: 10px;
		left: 8px;
		color: #ffffff;
		background-color: #9f3584;
		font-weight: bold;
		padding: 4px 8px;
		font-size: 14px;
		border-radius: 4px;
		margin-right: 8px;
		z-index: 111;
	}

	&-title {
		height: 50px;
		overflow: hidden;
		font-size: 16px;
		line-height: 1.38;
		padding-bottom: 6px;
		position: relative;
		z-index: 4;
	}

	&-body {
		display: flex;
		flex-direction: column;
	}

	&-price {
		font-size: 22px;
		font-weight: 700;
		letter-spacing: .3px;
	}


}

.cart {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #00000050;
	z-index: 130;

	&-body {
		position: relative;
		margin: auto;
		width: 1024px;
		min-height: 200px;
		max-height: 640px;
		background-color: #fff;
		padding: 25px;
		overflow: auto;
		border-radius: 3px;
	}

	&-title {
		font-size: 28px;
		color: #4d5f71
	}

	&-wrapper {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		margin: 25px 0;
		border: 1px solid #4d5f713f;
		border-radius: 3px;
		padding: 20px;

		#cart-empty {
			font-size: 24px;
			color: #4d5f71
		}

		.card {
			width: 33%;

			@media (max-width: 992px) {
				width: 50%;
			}

			@media (max-width: 768px) {
				width: 70%;
			}
		}
	}

	&-close {
		position: absolute;
		top: 25px;
		right: 25px;
		cursor: pointer;
		height: 25px;
		width: 25px;
		background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24'%3E%3Cpath fill='005bff' d='M12 10.587l6.293-6.294a1 1 0 111.414 1.414l-6.293 6.295 6.293 6.294a1 1 0 11-1.414 1.414L12 13.416 5.707 19.71a1 1 0 01-1.414-1.414l6.293-6.294-6.293-6.295a1 1 0 011.414-1.414L12 10.587z'/%3E%3C/svg%3E");
	}

	&-total {
		font-size: 18px;

		span {
			color: #077c24;
		}
	}

	&-confirm {
		display: block;
		margin-left: auto;
	}

}