.main-menu {
    width: 100%;
    max-width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    height: 100px;
}

.logo {
    float: left;
    color: blue;
}

.cart {
    float: right;
    margin: 25px 0px 0px 100px;

    &__cart-title {
        display: none;
    }

    &__cart-wrapper {
        display: none;
    }

    &__cart-total {
        display: none;
    }

    &__cart-close {
        display: none;
    }
}

nav {
    float: right;
    font: large menu;
    margin: 25px 10px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: flex;
}

nav li {
    display: inline-block;
}

.nav a {
    text-decoration: white;
    line-height: 38px;
}

.row-one {
    background: greenyellow;
}

.col-1-3 {
    width: 20%;
    float: left;
    font-weight: bold;
    font-size: large;
}

.col-1-1-2 {
    width: 33%;
    float: right;
    font-weight: bold;
    font-size: large;
}

.col-1-2 {
    width: 35%;
    float: right;
    //font-weight: bolcursesd;
    //font-size: largecurses;
}

curses curses #bg {
    margin: 60px auto;
    text-align: center;
}

#bg img {
    width: 200px;
    cursor: pointer;
}

.good {
    margin: 10px;
}

.goods .left-menu {
    width: 15%;
    float: left;
}

.goods .courses {
    width: 85%;
    float: right;
}

.goods .courses .course {
    width: 25%;
    float: left;
}

.goods .courses .course .card {
    border: 2px solid #55c5e9;
    padding: 5px;
    width: 350px;
    height: 250px;
    float: left;
    margin: 10px 10px 10px 10px;
}

.wrapper_custom,
.modal_custom {
    display: none;
}

.wrapper_custom {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal_custom {
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    z-index: 99;
    padding: 15px;
    background-color: white;
}

body {
    // background-image: url('./image/maxresdefault.jpg');
    background-size: 100%;
}